header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../image/background_header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /* padding: 45px 20px 0 152px; */
  padding-top: 45px;
  margin: 0 auto;
}
.hero-block {
  position: absolute;
  width: 426px;
  min-height: 292px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero-block div img {
  width: 63px;
  height: 63px;
}
.hero-block h1 {
  color: var(--main-color);
  width: 386px;
  min-width: 300px !important;
  min-height: 118px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  text-align: center;
}
.hero-block h2 {
  width: 100%;
  min-height: 56px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}
/* week 4 //////////////////////// */
nav {
  max-width: 651px;
  height: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 2%;
}
.navlist {
  display: flex;
}
nav > h3 > a {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  /* identical to box height, or 80% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-color);
}

.navlist > li > a {
  /* margin-left: 20px; */
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 18px;
}
a:not([href^="mailto"]) {
  text-decoration: none;
}
.navlist > li:nth-child(2) > a {
  border-bottom: 2px solid var(--main-color);
}
#hamburger-menu {
  display: none;
}
@media (max-width: 768px) {
  header {
    padding: 20px;
  }
  nav {
    margin: 0 5px;
  }
}
@media (max-width: 600px) {
  header {
    padding-top: 10px;
  }
  .hero-block {
    width: 386px;
  }
  .hero-block h1,
  .hero-block h2 {
    max-width: 100%;
  }
  nav {
    margin: 0 3px;
  }
  .navlist > li {
    display: none;
  }
  #hamburger-menu {
    display: block;
  }
}
/* week 5 */
.logo-big img {
  transition: all 1.3s ease-in-out 0.5s;
}
.logo-big img:hover {
  transform: rotateY(180deg) scale(1.3);
  transform-origin: center;
}
