section {
  width: 100%;
  min-height: 90vh;
}
/* section 1 */
.section-1 {
  background: #eeeeee;
}
article {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 5px;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
article h2 {
  max-width: 669px;
  min-height: 119px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  text-align: center;
  color: #464547;
  grid-column: 1/3;
  margin: 0 auto;
}
article h3 {
  max-width: 426px;
  min-height: 57px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;
  color: #666666;
  margin: 20px 0;
  grid-column: 1/3;
  margin: 0 auto;
}
article p {
  max-width: 983px;
  min-height: 100px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */
  text-align: center;
  color: #000000;
  text-align: left;
  margin: 10px auto;
  min-height: 172px;
  max-width: 540px;
}
article p:first-of-type {
  grid-column: 1/2;
  padding-left: 8%;
}
article p:last-of-type {
  grid-column: 2/3;
  padding-right: 8%;
}
article button {
  width: 115px;
  height: 36px;
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 26px;
  /* or 186% */
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--main-color);
  background: var(--button-color);
  border-radius: 18px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  grid-column: 1/3;
  margin: 20px auto;
  transition: all 0.7s ease-in-out 0.2s;
}
/* section 2 */
.learn-more {
  max-width: 480px;
  min-height: 492px;
  flex-direction: column;
}
.learn-more h2 {
  max-width: 480px;
  min-height: 117px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  text-align: center;
  color: var(--main-color);
}
.learn-more button {
  width: 150px;
  height: 150px;
  background: #39c2d7;
  color: var(--main-color);
  font-size: 3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin: 5px;
  transition: background 0.3s ease-in, transform 0.2s ease-in-out;
}
.learn-more h3 {
  max-width: 390px;
  min-height: 102px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;
  color: var(--main-color);
}
.section-2 {
  width: 100%;
  min-height: 100vh;
  background-image: url(../image/background_section_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}
.bg-image {
  top: 0;
  position: absolute;
  background-color: rgba(140, 79, 42, 0.3);
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 5px;
}
@media (max-width: 768px) {
  section:first-child {
    min-height: 65vh;
  }
  section:last-child {
    min-height: 85vh;
  }
  article h2 {
    font-size: 36px;
    line-height: 48px;
    margin: 10px auto;
    text-align: left;
    margin: 5px 0;
  }
  article h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    margin: 5px 0;
    padding-left: 0;
  }
  article p:first-of-type,
  article p:last-of-type {
    grid-column: 1/3;
    width: 100%;
    padding: 0;
    margin: 5px 0;
    min-height: auto;
  }
  article button {
    margin-left: 0;
  }
  .learn-more button {
    width: 100px;
    height: 100px;
  }
}
.section-1 article button:hover {
  transform: rotate(15deg);
  transform-origin: left;
}
.learn-more button:hover {
  transform: scale(0.95);
  background: var(--main-color);
  color: var(--button-color);
  transform-origin: center;
}
